.jumbotron{
    background-image: url(https://images.unsplash.com/photo-1615992174118-9b8e9be025e7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHRyYWRpbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60);
    background-size: cover;
    color: #fff;
    width: 100%;
    overflow: hidden;
}
.space{
    padding-top:10rem ;
}
img{
    width: 70%;
}

.controle{
    padding-top: 7%;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
}
