.jumbotron{
    background-color: #eeee;
    color: #000;
}
.space{
    padding-top:8rem ;
}
.broker{
    background-color: #151414;
    border-radius: 2%;
    color: #fff;
}
.color1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
// .img22{
//     width: 10%;
// }