.jumbotron {
    background-image: url(https://images.unsplash.com/photo-1615992174118-9b8e9be025e7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHRyYWRpbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60);
    background-size: cover;
    height: 100rem;
    width: 30rem;
  }

  